@import "../../utils/style/_colors.less";
@import "../../utils/style/_fonts.less";

.city_batch_index_item {
  margin: 0 3px;

  cursor: pointer;

  font-family: Gotham, sans-serif;

  &--selected {
    color: @c-blue-azure;
  }
}